{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="card shadow p-4">
    <h3 class="text-center text-primary">Welcome to the ZipGrade Item Analysis Web Tool</h3>
    <p>This tool helps you generate an item analysis report from your ZipGrade Standard Excel export.</p>
    <p>Instructions:</p>
	<p>1. Login your zipgrade account at zipgrade.com.</p>
	<p>2. Click the "Quiz" tab.</p>
	<p>3. Select and click the Quiz name you wanted to generate a report.</p>
	<p>4. Scroll down, under "Quiz Statistics" click the "Excel" dropdown.</p>
	<p>5. Click the "Standard Format-XLSX".</p>
	<p>6. Select student percentage you like to consider.</p>
	<p>7. Choose the file that you downloaded from zipgrade.</p>
	<p>8. Click "Start Analysis".</p>
    <a href="/upload" class="btn btn-primary mt-3">Start Analysis</a>
</div>
{% endblock %}
